@import "./variables.scss";

.emptypostContainer {
  margin: auto;

  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .emptyPost {
    font-family: "Nunito Bold";
    font-size: 20px;
    cursor: pointer;
  }
  .emptyPost::before {
    content: " ";
    position: absolute;
    transform: translateY(20px);
    margin-top: 0.7rem;
    width: 5em;
    height: 0.3em;
    transition: all 0.3s ease-in-out;
    background-color: $accent-dark-violet;
  }
  .emptyPost:hover::before {
    width: 0;
  }
}
