@import "./variables.scss";

.post {
  background-color: $box-color;
  border-radius: 10px;
  list-style-type: none;
  width: 87.6%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  min-height: 5rem;

  .userInfo {
    padding: 1rem 0.8rem 0 0.8rem;
    display: flex;
    justify-content: space-between;
    .displayPhoto {
      width: 2rem;
      height: 2rem;
      border-radius: 50px;
      margin-right: 1rem;
      object-fit: contain;
    }
    .user {
      display: flex;
      align-items: center;
    }
    .name {
      font-family: "Nunito Bold";
      font-size: 0.8rem;
    }
    .email {
      font-family: "Nunito Regular";
      color: $shade;
      font-size: 0.7rem;
    }
    .option div::after {
      content: "\2807";
      font-size: 20px;
      cursor: pointer;
      color: $accent-dark-violet;
    }
  }
  .postContainer {
    .postDescription {
      font-family: "Nunito Regular";
      font-size: 12px;
      margin: 0;
      padding: 1rem;
    }
  }
  .options {
    display: flex;
    width: 99.4%;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 0.3rem 0;
    background-color: #ffffff;

    border: 1px #f0f0f0 solid;
  }
  svg {
    font-weight: bold;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .edit {
    margin: 0 1rem;
  }
  .unlike {
    margin-left: 1rem;
    fill: #666666;
  }
  .liked {
    fill: #ed4956;

    margin-left: 1rem;
  }
}
