@import "./variables.scss";

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  align-items: center;
  max-width: 40rem;
  margin: auto;
  margin-top: 3rem;
}

.user {
  padding: 1rem;
  display: flex;

  .postPic {
    margin: 0 1rem;
  }
  .postName {
    margin-right: 2rem;
    margin-bottom: 0.7rem;
  }
}
.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}
