$main-bg: #e2e4ec;
$shade: #8a8383;
$box-color: #f4f4f4;
$accent-dark-violet: #5924ed;
$accent-light-violet: #b222e3;

%linear-bg {
  background: linear-gradient(
    74.92deg,
    #5924ed 33.67%,
    rgba(142, 35, 231, 0.404755) 145.36%,
    rgba(178, 34, 227, 0) 204.86%
  );
}
